<%= form_for(@daily_quote) do |f| %>
  <% if @daily_quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_quote.errors.count, "error") %> prohibited this daily_quote from being saved:</h2>

      <ul>
      <% @daily_quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
		<%= f.label :show_date %>
		<%= f.text_field :show_date, :class => 'span1' %>
		<br/><br/>
    <%= f.label :quote %>
    <%= f.text_area :quote, :class => 'span5' %>
  </div>
	<br/>
  <div class="actions">
    <%= f.submit :class => 'btn' %>
  </div>
<% end %>
