<p id="notice"><%= notice %></p>

<span class='date effect'>
  <%= Date.today %>
</span>
<br/>
<span class='quotes'>
  <%= @daily_quote.quote %>
</span>


<%= link_to 'Edit', edit_daily_quote_path(@daily_quote) %> |
<%= link_to 'Back', daily_quotes_path %>
